<%- include ('header') %>

  <% if(error) { %>
    <%= error %>
      <% } else {%>
        <div class="result">
          Nome do Fundo Imobiliario: <%= nome %>
        </div>

        <div class="result">
          Numero de contas comprada: <%= cotas %>
        </div>

        <div class="result">
          Valor atual da cota: R$ <%= valor %>
        </div>

        <div class="result">
          Total Investido: R$ <%= soma_invertimento %>
        </div>

        <div class="result">
          Valor a receber de dividendo por mês: R$ <%= soma_rendimento %>
        </div>

        <% } %>





          <%- include ('footer') %>